<div class="bootstrap-wrapper">
    <div class="container-fluid">
    
  <div class="m1" >
    <div class="col-4">
      <h1><b>Upcoming Contests:)</b></h1>
      
    </div>
   <mat-card class="mt10"class="mb20"   *ngFor="let m of dataSource">
    <br>
    
    
  

    <mat-card-header>
        <div class="text-content">
            <div><h4><b>Contest</b></h4><p>{{m.contestname}}</p></div>
            </div>
    </mat-card-header>

    <mat-card-content>
        <div class="text-content">
            <div><h4><b>Match Name</b></h4><p>{{m.matchname}}</p></div>
        <div><h4><b>Match Id</b></h4><p>{{m.matchid}}</p></div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" class="centre-me">Join</button>
       </mat-card-actions>
     
    
       </mat-card>
      </div>
    </div>
    </div>
    
