<div class="sidebar"><mat-card style="height: 80vh; border-radius: 20px;" >
    <mat-action-list class="text-centre">
        <div mat-subheader><b>Menu</b></div>
        <button mat-list-item routerLink="/user-dashboard/home"><mat-icon mat-list-icon>home</mat-icon><strong> Home</strong> </button>
        
       
        <button mat-list-item  routerLink="/user-dashboard/userprofile"><mat-icon mat-list-icon>person</mat-icon><strong>User Profile</strong>  </button>
        <button mat-list-item  routerLink="/user-dashboard/usermatchfixture"><mat-icon mat-list-icon>connect_without_contact</mat-icon><strong>Match Fixtures</strong>  </button>
        <button mat-list-item  routerLink="/user-dashboard/contest"><mat-icon mat-list-icon>connect_without_contact</mat-icon><strong>Contest</strong>  </button>
        <button mat-list-item  routerLink="/user-dashboard/logout"><mat-icon mat-list-icon>logout</mat-icon><strong>Logout</strong>  </button>
    </mat-action-list>
</mat-card>
</div>