.sidebar{
    margin-top: 0px;
   
    margin-left: 10px;
    width: 180px;
    color: rgb(17, 10, 24);
    
    
  
}


.text-centre{
    text-align: center;
    
}


.mat-mdc-card{
    background-color:#d7cbcb65;
}


